@import "variables";

.clients {
    height: 100vh;
    margin-top: 15rem;

    h1 {
        text-align: right;
        margin-right: 4rem;
        margin-top: 8rem;
        color: white;
        font-size: 4rem;
        font-family: $main-font;
        font-weight: normal;
        transform: translateY(-50px);
    
        span {
            background-color: $label-color;
        }
    }
    
    section.cards-container {
        display: flex;
        justify-content: center;
        .cards {
            display: flex;
            flex-wrap: wrap; // Ensures wrapping if needed
            justify-content: center; // Centers the cards in the row
            align-items: center;
            gap: 10px; // Adds space between cards
            .card {
                width: 250px; // Ensures the card is not full-width
                unicode-bidi: isolate;
                background-color: #2b252e;
                padding: 40px;
                color: #fff;
                line-height: 1.5;
                margin: 20px;
                text-align: center;

                p {
                    width: 100px;
                    font-family: "Roboto", sans-serif;
                    color: rgb(197, 197, 197);
                }

                .user-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .user-img {
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        background-image: url(https://plus.unsplash.com/premium_photo-1661349653775-aaee1cc05de4?q=80&w=986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                        background-size: cover;
                        background-position: 95px 65px;
                    }

                    .user-img-two {
                        background-image: url(https://images.unsplash.com/photo-1604904612715-47bf9d9bc670?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                        background-size: cover;
                        background-position: 100px 75px;
                    }

                    .user-img-three {
                        background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                        background-size: cover;
                        background-position: 100px 75px;
                    }
                }
            }
        }
    }
}

