@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 50vh;
  background: linear-gradient(to right, #4f2d62, #ac39ea);
}
.container nav {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto" serif;
}
.container nav ul {
  margin-right: 40px;
  margin-top: 20px;
}
.container nav ul li {
  display: inline;
  list-style: none;
  margin-left: 30px;
}
.container nav ul li a {
  text-decoration: none;
  color: #fff;
}

.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.gradient {
  width: 72%;
  height: 76%;
  position: absolute;
  bottom: 74px;
  background: linear-gradient(to left, #35d08f, #e32e64);
  border-radius: 10px;
}

header {
  width: 100%;
  height: 90%;
  margin-top: 2rem;
  margin-left: 10rem;
  background-image: url(/assets/images/portrait.JPG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 700px) {
  header {
    margin-left: 2.5rem;
  }
}
header .social {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-left: 10px;
  text-align: center;
}
header .social .fa-brands {
  margin-bottom: 10px;
}
header .social .line {
  margin: 0 auto;
  width: 4px;
  border-radius: 10px;
  height: 20%;
  background: #ae81bf;
  margin-bottom: 20px;
}
header h1 {
  margin-left: 50px;
  color: #fff;
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  transform: translateY(-50px);
}

.about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "Roboto" serif;
  margin-top: 3.5rem;
  padding: 3rem 5rem;
}
.about p {
  line-height: 1.7;
  color: #e8d4ef;
  width: 400px;
}
.about p span {
  padding: 5px;
  background: linear-gradient(to left, #35d08f, #e32e64);
  border-radius: 100px;
}
.about .two {
  align-self: flex-end;
}

.projects .title {
  margin-left: 50px;
  margin-top: 8rem;
  color: white;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  transform: translateY(-50px);
}
.projects .title span {
  background-color: rgba(174, 129, 191, 0.3921568627);
}
.projects .images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects img {
  width: 170px;
  height: 100vh;
  margin: 30px 10px;
}
.projects .img-one {
  transform: translateY(200px);
}
.projects .img-two {
  transform: translateY(150px);
}
.projects .img-three {
  transform: translateY(100px);
}
@media screen and (max-width: 680px) {
  .projects .img-one {
    margin-bottom: 6rem;
  }
  .projects .img-two {
    margin-bottom: 6rem;
  }
  .projects .img-three {
    margin-bottom: 6rem;
  }
}

.clients {
  height: 100vh;
  margin-top: 15rem;
}
.clients h1 {
  text-align: right;
  margin-right: 4rem;
  margin-top: 8rem;
  color: white;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  transform: translateY(-50px);
}
.clients h1 span {
  background-color: rgba(174, 129, 191, 0.3921568627);
}
.clients section.cards-container {
  display: flex;
  justify-content: center;
}
.clients section.cards-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.clients section.cards-container .cards .card {
  width: 250px;
  unicode-bidi: isolate;
  background-color: #2b252e;
  padding: 40px;
  color: #fff;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}
.clients section.cards-container .cards .card p {
  width: 100px;
  font-family: "Roboto", sans-serif;
  color: rgb(197, 197, 197);
}
.clients section.cards-container .cards .card .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients section.cards-container .cards .card .user-info .user-img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-image: url(https://plus.unsplash.com/premium_photo-1661349653775-aaee1cc05de4?q=80&w=986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 95px 65px;
}
.clients section.cards-container .cards .card .user-info .user-img-two {
  background-image: url(https://images.unsplash.com/photo-1604904612715-47bf9d9bc670?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 100px 75px;
}
.clients section.cards-container .cards .card .user-info .user-img-three {
  background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 100px 75px;
}

footer {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
footer h1 {
  font-size: 2rem;
}
footer p {
  max-width: 400px;
  font-family: "Roboto" serif;
  line-height: 25px;
}
footer .about-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  margin-right: 40px;
  margin-top: 20px;
}
footer .footer-container h1 {
  margin-bottom: 50px;
}
footer .footer-container p {
  font-family: "Roboto" serif;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  footer {
    height: 80vh;
    margin-top: 20rem;
  }
}
@media screen and (max-width: 800px) {
  footer {
    height: 140vh;
    margin-top: 30rem;
  }
}

body {
  background-color: #211f22;
}/*# sourceMappingURL=style.css.map */